/* navbar start */
.navbar {
  top: 0;
  padding: 0;
  background: var(--light-color);
  z-index: 100;
}

.navbar-toggler {
  background: var(--light-color);
  margin: 5px;
  border: none;
  outline: none;
}

.navbar-collapse {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
}

.navbar-expand-lg {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  height: 6rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--light-color);
  margin: 20px 1.6rem;
  font-family: Lato;
  font-size: 22px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 2px solid var(--light-color);
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  border-bottom: 2px solid var(--light-color);
}

.navbar .logo {
  width: 20%;
  height: 100%;
  background: var(--light-color);
}

.navbar .logo img {
  width: 95%;
}

.navbar .icons {
  align-items: center;
  text-align: center;
  display: flex;
}

.navbar .Sign_btn {
  background: rgba(0, 0, 0, 0.63);
  color: var(--light-color);
  padding: 7px 40px;
  border-radius: 20px;
}

.dropdown-menu {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 20px;
  padding: 0 10px;
  margin-left: 20px;
}

.dropdown-item {
  background: none;
  cursor: pointer;
  font-family: Lato;
    font-size: 22px;
    font-weight: 600;
}

.dropdown-item:hover {
  color: #000;
}
/* Student Modal start */
.modal-dialog {
  text-align: center;
}
.modal-lg {
  width: 40%;
  margin: auto;
}
.modal-content {
  margin-top: 5rem;
  background: transparent;
  border: none;
}

.modal-content .content {
  background: var(--light-color);
  border-radius: 30px;
  padding: 3rem;
  text-align: center;
  align-items: center;
}
/* Student form */
form h1 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 400;
  color: var(--primary-color);
}
form h3 {
  font-family: Merriweather;
  font-size: 19px;
  font-weight: 400;
  color: var(--primary-color);
}
form .form-check-label {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}
form .guardian {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
form input[type="radio"],
form input[type="checkbox"] {
  margin-left: 5px;
  border: 1px solid var(--primary-color);
  padding: 2px;
  color: var(--primary-color);
}
form .form-group {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 0 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="date"],
form input[type="password"] {
  border: none;
  outline: none;
  border-radius: 20px;
}
form input::placeholder {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
form .form-control {
  padding: 5px 20px;
}

form button {
  background: linear-gradient(90deg, #ffffff -6.16%, #ffffff 100%);
  border-radius: 36px;
  color: var(--primary-color);
  border: none;
  outline: none;
}

/* Slider start */
.slider{
  background: var(--light-color);
  padding-top: 5rem;
  text-align: center;
}
.slider .container{
  background: blue;
  display: flex;
  justify-content: center;
}
.slider .container .content{
  background: linear-gradient(90deg, #D58249 0%, #EFCFB9 100%);
  border-radius: 70px;
  height: 60vh;
  width: 1050px;
  border-radius: 70px;
}

.slide{
  text-align: center;
}
.slide .card{
  display: flex;
  margin: 20px;
}
.slide .card .first{
  margin: 10px;
}
/* Services start*/

.services {
  background-image: url("../assets/img/service-bg.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 7rem;
}
.services h1 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
}

.service-head {
  background: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  padding: 0 5rem 1rem 5rem;
}
.service-head h3 {
  font-family: Lato;
  margin-top: -1rem;
  font-size: 36px;
  font-weight: 400;
  margin-top: -2rem;
}
.service-head p {
  font-family: Lato;
  font-size: 23px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
}

.img-container {
  overflow: hidden;
  transform: translate(0%, -50%);
}

.img-container img {
  width: 100px;
  border-radius: 50%;
}

.service-item {
  background: var(--light-color);
  border-radius: 2rem;
  height: 230px;
  margin: 30px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.title-container {
  overflow: hidden;
  transform: translate(-0%, -50%);
  text-transform: uppercase;
  color: var(--light-color);
  background: linear-gradient(90deg, #238a23 0%, #235024 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.title-container h5 {
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 700;
  
}

.two {
  background: linear-gradient(90deg, #e47f39 0%, #ac7149 100%);
}

.five {
  background: linear-gradient(90deg, #046d99 0%, #184155 100%);
}

.service-item p {
  margin: 0px 1rem 1rem 1rem;
  font-family: Lato;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.4);
}

footer h5 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
footer ul{
  display: flex;
  justify-content: center;
}
footer ul li{
  padding: 5px;
}
footer ul li a {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
