/* navbar start */
.navbar {
  top: 0;
  padding: 0;
  background: var(--light-color);
  z-index: 100;
}

.navbar-toggler {
  background: var(--light-color);
  margin: 5px;
  border: none;
  outline: none;
}

.navbar-collapse {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
}

.navbar-expand-lg {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  height: 6rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--light-color);
  margin: 20px 1.6rem;
  font-family: Lato;
  font-size: 22px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 2px solid var(--light-color);
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  border-bottom: 2px solid var(--light-color);
}

.navbar .logo {
  width: 20%;
  height: 100%;
  background: var(--light-color);
}

.navbar .logo img {
  width: 95%;
}

.navbar .icons {
  align-items: center;
  text-align: center;
  display: flex;
}

.navbar .Sign_btn {
  background: rgba(0, 0, 0, 0.63);
  color: var(--light-color);
  padding: 7px 40px;
  border-radius: 20px;
}

.dropdown-menu {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 20px;
  padding: 0 10px;
  margin-left: 20px;
}

.dropdown-item {
  background: none;
  cursor: pointer;
  font-family: Lato;
  font-size: 22px;
  font-weight: 600;
}

.dropdown-item:hover {
  color: #000;
}
/* Student Modal start */
.modal-dialog {
  text-align: center;
}
.modal-lg {
  width: 40%;
  margin: auto;
}
.modal-content {
  margin-top: 5rem;
  background: transparent;
  border: none;
}

.modal-content .content {
  background: var(--light-color);
  border-radius: 30px;
  padding: 3rem;
  text-align: center;
  align-items: center;
}
/* Student form */
form h1 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 400;
  color: var(--primary-color);
}
form h3 {
  font-family: Merriweather;
  font-size: 19px;
  font-weight: 400;
  color: var(--primary-color);
}
form .form-check-label {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}
form .guardian {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
form input[type="radio"],
form input[type="checkbox"] {
  margin-left: 5px;
  border: 1px solid var(--primary-color);
  padding: 2px;
  color: var(--primary-color);
}
form .form-group {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 0 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="date"],
form input[type="password"] {
  border: none;
  outline: none;
  border-radius: 20px;
}
form input::placeholder {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
form .form-control {
  padding: 5px 20px;
}

form button {
  background: linear-gradient(90deg, #ffffff -6.16%, #ffffff 100%);
  border-radius: 36px;
  color: var(--primary-color);
  border: none;
  outline: none;
}

/* Slider start */
.hero {
  background: #fff;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
}

.hero .head {
  padding: 1rem;
}
.hero .head h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
}
.hero .head .title {
  display: flex;
  justify-content: end;
}
.hero .head .title h5 {
  font-family: Lato;
  font-size: 23px;
  font-weight: 300;
}

.hero ::ng-deep .owl-prev,
.hero ::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  border-radius: 50% !important;
  padding-top: 0.7rem;
  background: rgba(0, 0, 0, 0.49) !important;
}
.hero ::ng-deep .owl-prev {
  left: 35%;
}

.hero ::ng-deep .owl-next {
  right: 35%;
}

.hero .head button {
  height: 54px;
  width: 138px;
  margin-left: 6rem;
  border-radius: 36px;
  background: #e89152;
  border-radius: 36px;
  border: none;
  color: var(--light-color);
}

.hero .container {
  width: 900px;
  height: 553px;
  background: linear-gradient(90deg, #d58249 0%, #efcfb9 100%);
  border-radius: 70px;
  margin: 1rem auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.hero .slider {
  width: 200%;
  margin: 0 calc(-50%);
}

.hero .slide {
  grid-auto-flow: column;
  overflow-y: auto;
  margin: 0 -10% 0 -10%;
}

.hero .slide::-webkit-scrollbar {
  display: none;
}

.hero .student {
  scroll-snap-align: start;
  margin: 0 6rem;
  text-align: center;
}
.hero .student h1 {
  color: var(--light-color);
}
.hero .profile {
  display: flex;
  justify-content: space-between;
}
.hero .profile .card {
  width: 300px;
  margin: 1rem;
  height: 380px;
  background: #fffcfd;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
}

/* card style */
.card__media {
  position: relative;
  display: grid;
  place-items: center;
  width: 218px;
  height: 196px;
  background: linear-gradient(89.76deg, #754629 -51.66%, #ec833a 107.58%);
  border-radius: 50px;
}
.card__media .card__qr {
  /* width: 50px;
  height: 40px; */
  position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 50px;
    height: 40px;
}
.card__media .card__image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -2px 8px 8px rgba(0, 0, 0, 0.25);
  
}
.card__body{
  padding: 1rem;
}
.card__body .id {
  font-family: Lato;
  font-size: 9px;
  font-weight: 800;
}
.card__body .name {
  font-family: Lato;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.card__body .name .send {
  width: 20px;
  margin-left: 5px;
}

.card__body .standard {
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 300;
}

.card__body .experience,
.card__body .address {
  font-family: Merriweather;
  font-size: 9px;
  font-style: italic;
  font-weight: 300;
}

.card__body .actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Card end */

/* Services start*/

.services {
  background-image: url("../assets/img/service-bg.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 7rem;
}
.services h1 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
}

.service-head {
  background: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  padding: 0 5rem 1rem 5rem;
}
.service-head h3 {
  font-family: Lato;
  margin-top: -1rem;
  font-size: 36px;
  font-weight: 400;
  margin-top: -2rem;
}
.service-head p {
  font-family: Lato;
  font-size: 23px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
}

.img-container {
  overflow: hidden;
  transform: translate(0%, -50%);
}

.img-container img {
  width: 100px;
  border-radius: 50%;
}

.service-item {
  background: var(--light-color);
  border-radius: 2rem;
  height: 230px;
  margin: 30px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.title-container {
  overflow: hidden;
  transform: translate(-0%, -50%);
  text-transform: uppercase;
  color: var(--light-color);
  background: linear-gradient(90deg, #238a23 0%, #235024 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.title-container h5 {
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 700;
}

.two {
  background: linear-gradient(90deg, #e47f39 0%, #ac7149 100%);
}

.five {
  background: linear-gradient(90deg, #046d99 0%, #184155 100%);
}

.service-item p {
  margin: 0px 1rem 1rem 1rem;
  font-family: Lato;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #9d5a2e 0%, #e37e38 100%);
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.4);
}

footer h5 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  padding: 5px;
}
footer ul li a {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
footer .map img {
  width: 50%;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid var(--light-color);
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
}
footer .copyright p {
  margin: 5px;
}
