<div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="logo" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="NavbarOpen()"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
      [ngClass]="{ show: navOpen }"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>

        <li class="nav-item dropdown">
          <button
            class="nav-link Sign_btn"
            id="navbarDropdown"
            (click)="DropdownOpen()"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sign
            <a class="text-light" href="#"> up </a>
          </button>
          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            [ngClass]="{ show: dropOpen }"
          >
            <a class="dropdown-item text-light" (click)="openModal()"
              >Student</a
            >
            <div class="dropdown-divider bg-light"></div>
            <a class="dropdown-item text-light" href="#">Business</a>
            <div class="dropdown-divider bg-light"></div>
            <a class="dropdown-item text-light" href="#">Job Seeker</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Have Questions
            <img src="../assets/img/message.png" alt="message icon"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Slider -->

  <div class="hero">
    <div class="container">
      <div class="slider">
        <div class="slide">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <article class="student">
                <h1>Talent</h1>
                <div class="profile">
                  <div class="card">
                    <div class="talent__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/t-video.png"
                        class="card__video"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        Prakash Mishra
                        <img
                          src="../assets/img/icons/t-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Aditiya Birla Group</div>
                      <div class="experience">Experience-10 years</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-1.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-2.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-3.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="talent__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/t-profile.png"
                        class="card__image"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        Prakash Mishra
                        <img
                          src="../assets/img/icons/t-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Aditiya Birla Group</div>
                      <div class="experience">Experience-10 years</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-1.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-2.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/t-3.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details">
                  <h5>Say no to Resume,Cover letters,Keywords, present yourself in an Eccentric way!</h5>
                  <div class="slog">
                    <h6>Revolutionize your job search with our tech-powered talent card builder. Showcase
                    your skills in minutes, and bypass the expense of traditional resumes and cover letters.</h6>
                    <button (click)="DropdownOpen()">Start</button>
                  </div>
                </div>
              </article>
              
            </ng-template>
            <ng-template carouselSlide>
              <article class="student">
                <h1>Opportunity</h1>
                <div class="profile">
                  <div class="card">
                    <div class="oppertunity__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/o-video.png"
                        class="card__video"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        ABC Company
                        <img
                          src="../assets/img/icons/o-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Software Developer</div>
                      <div class="experience">Experience-10 years</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/o-1.png" alt="" />
                        </a>
                        <button>Apply</button>
                        <a href="#" class="link">
                          <img src="../assets/img/icons/o-2.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="oppertunity__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/o-profile.png"
                        class="card__image"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        ABC Company
                        <img
                          src="../assets/img/icons/o-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Software Developer</div>
                      <div class="experience">Experience-10 years</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/o-1.png" alt="" />
                        </a>
                        <button>Apply</button>
                        <a href="#" class="link">
                          <img src="../assets/img/icons/o-2.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details">
                  <h5>Say no to Resume,Cover letters,Keywords, present yourself in an Eccentric way!</h5>
                  <div class="slog">
                    <h6>Revolutionize your job search with our tech-powered talent card builder. Showcase
                      your skills in minutes, and bypass the expense of traditional resumes and cover letters.</h6>
                    <button (click)="DropdownOpen()">Start</button>
                  </div>
                </div>
              </article>
            </ng-template>
            <ng-template carouselSlide>
              <article class="student">
                <h1>Business</h1>
                <div class="profile">
                  <div class="card">
                    <div class="business__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/b-video.png"
                        class="card__video"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        XYZ Consultation
                        <img
                          src="../assets/img/icons/b-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Services-IT Certification</div>
                      <div class="experience">Mode-Online/offline</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-1.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-2.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-3.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="business__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/b-profile.png"
                        class="card__image"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">
                        XYZ Consultation
                        <img
                          src="../assets/img/icons/b-send.png"
                          class="send"
                          alt="send"
                        />
                      </div>
                      <div class="standard">Services-IT Certification</div>
                      <div class="experience">Mode-Online/offline</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-1.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-2.png" alt="" />
                        </a>

                        <a href="#" class="link">
                          <img src="../assets/img/icons/b-3.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details">
                  <h5>Say no to Resume,Cover letters,Keywords, present yourself in an Eccentric way!</h5>
                  <div class="slog">
                    <h6>Revolutionize your job search with our tech-powered talent card builder. Showcase
                      your skills in minutes, and bypass the expense of traditional resumes and cover letters.</h6>
                    <button (click)="DropdownOpen()">Start</button>
                  </div>
                </div>
              </article>
            </ng-template>
            <ng-template carouselSlide>
              <article class="student">
                <h1>Student</h1>
                <div class="profile">
                  <div class="card">
                    <div class="student__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/s-video.png"
                        class="card__video"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">Ishita Mishra</div>
                      <div class="standard">Standard 9</div>
                      <div class="experience">School-ABC School</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <button class="more">More...</button>
                        <a href="#" class="link">
                          <img src="../assets/img/icons/s-send.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="student__media">
                      <img
                        src="../assets/img/qr.png"
                        class="card__qr"
                        alt="qr"
                      />
                      <img
                        src="../assets/img/s-profile.png"
                        class="card__image"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="card__body">
                      <div class="id">ID- ABC123</div>
                      <div class="name">Ishita Mishra</div>
                      <div class="standard">Standard 9</div>
                      <div class="experience">School-ABC School</div>
                      <div class="address">Location -Pune Maharashtra,India.</div>
                      <div class="actions">
                        <button class="more">More...</button>
                        <a href="#" class="link">
                          <img src="../assets/img/icons/s-send.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details">
                  <h5>Say no to Resume,Cover letters,Keywords, present yourself in an Eccentric way!</h5>
                  <div class="slog">
                    <h6>Revolutionize your job search with our tech-powered talent card builder. Showcase
                      your skills in minutes, and bypass the expense of traditional resumes and cover letters.</h6>
                    <button (click)="DropdownOpen()">Start</button>
                  </div>
                </div>
              </article>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="head">
      <h3>
        Say no to Resume,Cover letters,Keywords, present yourself in an
        Eccentric way!
      </h3>
      <div class="title">
        <h5>
          Revolutionize your job search with our tech-powered talent card
          builder. Showcase<br />your skills in minutes, and bypass the expense
          of traditional resumes and cover letters.
        </h5>
        <button class="btn-start">Get Started</button>
      </div>
    </div>
  </div>

  <!-- Student Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form class="student-form">
          <div class="content">
            <h1>Sign up</h1>
            <div class="form-row d-flex">
              <div class="col-md-6">
                <label class="form-check-label" for="school"> School </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="student"
                  id="school"
                />
              </div>
              <div class="col-md-6">
                <label class="form-check-label" for="college"> College </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="student"
                  id="college"
                />
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-check-label guardian" for="guardian">
                Please check if you are signing up as a parent/guardian
              </label>
              <input
                class="form-check-input"
                type="checkbox"
                name="guardian"
                id="guardian"
              />
            </div>
            <h3>Details Of Parent/Guardian</h3>
            <div class="form-group">
              <img src="../assets/img/icons/profile.png" alt="profile" />
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="Enter full name of parent/guardian"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/message.png" alt="message" />
              <input
                type="email"
                class="form-control"
                id="inputAddress2"
                placeholder="Enter valid mail id"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/call.png" alt="call" />
              <input
                type="number"
                class="form-control"
                id="inputAddress2"
                placeholder="Enter valid phone number"
              />
            </div>
            <h3>Details of Student</h3>
            <div class="form-group">
              <img src="../assets/img/icons/profile.png" alt="profile" />
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="Enter full name of Student"
              />
            </div>
            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-4">
                <img src="../assets/img/icons/calendar.png" alt="calendar" />
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="DOB"
                />
              </div>
              <div class="form-group col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Gender"
                />
                <img src="../assets/img/icons/plus.png" alt="plus" />
              </div>
              <div class="form-group col-md-3">
                <input
                  type="number"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Class"
                />
              </div>
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/school.png" alt="school" />
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="Enter school name"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/call.png" alt="call" />
              <input
                type="number"
                class="form-control"
                id="inputAddress"
                placeholder="Enter valid phone number of student"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/message.png" alt="message" />
              <input
                type="email"
                class="form-control"
                id="inputAddress"
                placeholder="Enter valid mail id of student"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/password.png" alt="password" />
              <input
                type="password"
                class="form-control"
                id="inputAddress"
                placeholder="Enter password"
              />
            </div>
            <div class="form-group">
              <img src="../assets/img/icons/cPassword.png" alt="cPassword" />
              <input
                type="password"
                class="form-control"
                id="inputAddress"
                placeholder="Re enter password"
              />
            </div>
          </div>
          <div class="">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label text-light" for="gridCheck">
                By clicking on register you agree to our Terms and Conditions
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="closeModal()">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Services -->
  <section class="services">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="service-head text-center">
            <div class="img-container">
              <img src="../assets/img/service-img.png" alt="profile image" />
            </div>
            <h3>Why Interactive Recruitment?</h3>
            <p>
              Interactive Recruitment is a new age global deep tech powered
              unified recruitment and decentralized business platform having an
              asset- light omnichannel eco system converting recruitment,
              interview preparation and guidance, business management into
              digital, intuitive, engaging, cost effective, and best-in -class
              experience.
            </p>
          </div>
        </div>
      </div>
      <h1 class="p-5 text-dark" id="services">SERVICES</h1>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="service-item text-center">
            <div class="title-container">
              <h5 class="p-3">Recruitment Solutions</h5>
            </div>
            <p>Search jobs, Hire Talent, Host Interview and much more.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item text-center">
            <div class="title-container two">
              <h5 class="p-3">PROFESSional vault</h5>
            </div>
            <p>
              Start building your professional vault since the first year of
              college and keep all your projects, accolades & memories secure in
              your vault!
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item text-center">
            <div class="title-container">
              <h5 class="p-3">Interview prep. & guidance</h5>
            </div>
            <p>
              Deep Tech powered interview simulation service Create your avatar,
              your digital.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item text-center">
            <div class="title-container two">
              <h5 class="p-3">Student Profile</h5>
            </div>
            <p>Prepare your study abroad profile.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item text-center">
            <div class="title-container five">
              <h5 class="p-3">Business adv. & management</h5>
            </div>
            <p>
              Create your business information cards in seconds and take the
              lead in advertising generating your leads and managing your
              business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="container-fluid text-light text-center">
        <div class="col-md-12">
          <div class="row">
            <div class="implinks col-md-6">
              <a href="#">Term & Conditions</a>
              <a href="#">Privacy Policy</a>
            </div>
            <div class="implinks col-md-6">
             <p>Find us: </p>
             <a href="#">Facebook</a>
             <a href="#">Youtube</a>
             <a href="#">LinkedIn</a>
            </div>
          </div>
        </div>
      <div class="copyright">
        <p>&copy;2023- All rights reserved</p>
      </div>
    </div>
  </footer>
</div>
